*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-image: url('https://images.wallpapersden.com/image/download/sanitizing-earth-coronavirus-covid-19_bGhrbWeUmZqaraWkpJRnamtlrWZpaWU.jpg');
    background-size: 1366px;
    background-repeat:no-repeat;
    overflow-x: hidden;
    background-color: #333;
}
header{
    background-color: rgba(0,0,0,0.3);
    padding: 10px; 
}
.vaccine {
    background-color: rgba(0,0,0,0.3);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left: 20px;
    justify-content: space-between;
}
.vaccine h4{
    font-family: 'Kaushan Script', cursive;
    color:white;
    font-size: 30px;
}
.links{
    margin-top: 56px;
    padding-right: 20px;
}
.links a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 15px;
    font-family: 'Noto Serif', serif;
}
.button{
    background-color: yellow;
    border-radius: 3px;
    padding: 10px;
}
.button a{
    color: black;
}
.button:hover{
    background-color: transparent;
    cursor: pointer;
}
.button:hover a{
    color: white;
}
.block{
    position: relative;
    margin-top: 200px;
}
.wrapper img{
    width:400px;
    height: 350px;
}
.content{
    position: absolute;
    background-color: white;
    color: black;
    bottom: 100%;
    left: 0;
    right: 0;
    width: 400px;
    height: 0;
    overflow: hidden;
    transition: 0.5s ease;
}
.content p{
    padding: 10px;
    font-size: 20px;
    margin-top: 30px;
}
.block:hover .content{
    bottom: 0;
    height: 100%;
}
.block:hover .textwrap{
    display: none;
}
.textwrap{
    position: absolute;
    top: 10px;
    left: 100px;
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
}
.flexbox{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: center;
}
.title h1{
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    color: white;
    margin-left: 70px;
    margin-top: 100px;
}
.title p{
    color: white;
    margin-left: 70px;
    margin-top: 50px;
}
.button2{
    width: 200px;
    margin-top: 170px;
    margin-left:70px ;
}
.button2 a{
    background-color: olivedrab;
    color: white;
    padding: 20px;
    text-decoration: none;
}
.button2:hover a{
    background: transparent;
    color: white;
    border: 2px solid white;
}
.textwrap1{
    position: absolute;
    top: 10px;
    left: 65px;
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
}
.textwrap2{
    position: absolute;
    top: 10px;
    left: 70px;
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
}
.slider{
    overflow: hidden;
    margin-top: 180px;
    z-index: 1;
}
.slider figure{
    position: relative;
    width: 300%;
    animation-name: sample;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
figure img{
    width:800px;
    height: 400px;
    object-fit: cover;
}
@keyframes sample {
    0%{
        left: 0;
    }
    20%{
        left: -40%;
    }
    60%{
        left: -70%;
    }
    100%{
        left: -130%;
    }

}
.flex1{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.block1{
    justify-content: flex-start;
    position: relative;
    margin-left: 74px;
}
.block1:hover .content{
    bottom: 0;
    height: 100%;
}
.block1:hover .textwrap{
    display: none;
}
.block2{
    justify-content: flex-start;
    position: relative;
    margin-left: 1px;
}
.block2:hover .content{
    bottom: 0;
    height: 100%;
}
.block2:hover .textwrap{
    display: none;
}
.content3 {
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.3);
    color: black;
    bottom: 100%;
    left: 0;
    right: 0;
    width: 400px;
    height: 0;
    overflow: hidden;
    transition: 0.5s ease;
}
.content4 {
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.3);
    color: black;
    bottom: 100%;
    left: 0;
    right: 0;
    width: 400px;
    height: 0;
    overflow: hidden;
    transition: 0.5s ease;
}
.block2:hover .content3{
    bottom: 0;
    height: 100%;
    display: block;
    transition: 0.5s ease;
}
.block2:hover .content4{
    bottom: 0;
    height: 100%;
    display: block;
    transition: 0.5s ease;
}
.content3 p{
    margin-top: 150px;
    margin-left: 150px;
}
.content4 p{
    margin-top: 150px;
    margin-left: 150px;
}
.content3 p a{
    padding: 20px;
    text-decoration: none;
    background-color: orange;
    color: white;
    border-radius: 5px;
}
.content4 p a{
    padding: 20px;
    text-decoration: none;
    background-color: orange;
    color: white;
    border-radius: 5px;
}
.content3 p a:hover{
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3),-1px -1px 2px rgba(0,0,0,0.3);
}
.content4 p a:hover{
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3),-1px -1px 2px rgba(0,0,0,0.3);
}
.textwrap3{
    position: absolute;
    top: 10px;
    left: 150px;
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
}